*{
    margin: auto;
    padding: 0;
    box-sizing: border-box;
    background-color: #121212;
}

.body{
    width: 100%;
    min-height: 100vh;
    align-items: center;
    display: flex;

}


.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.3rem 10%;
    /*background: #121212;
    backdrop-filter: blur(3px);
    box-shadow: 0 20px 30px rgba(3, 3, 3, 0.5);*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    
}

.topnavbar a{
    text-decoration: none;
    color: antiquewhite;
    font-size: 1.15rem;
    font-weight: 500;
    margin-left: 2.5rem;
    font-family: "Inter", sans-serif;
}

.topnavbar a.active{
    border-bottom: solid 2px antiquewhite;
    color: antiquewhite;
   
}

.topnavbar a:hover{
    border-bottom: solid 2px rgba(250, 235, 215, 0.342);
    color: antiquewhite;
}

#check{
    display: none;
}

.icons{
    position: absolute;
    left: 5%;
    font-size: 2.8rem;
    color: antiquewhite;
    cursor: pointer;
    display: none;
}

.photo{
    position: relative;
    display: flex;
    float: left;
    margin: 5%;
    padding-left: -20px;
    height: 455px;
    width: 206px;
}

.photo .nate-pic img{
    height: 375px;
    width: 277px;
    border-radius: 57px;
    border-right: solid 4px rgba(255, 255, 255, 0.219);
    border-bottom: solid 4px  rgba(255, 255, 255, 0.479);
    backdrop-filter: blur(10px);
    box-shadow: 0 10px 40px rgba(233, 233, 233, 0.171);
}

.slideshow{
    position: relative;
    display: flex;
    padding-left: 45em;
    padding-top: 150px;
    filter: grayscale(100);
}


.slideshow .mySlides{
    display: flex;
    position: absolute;
    float: right;
    height: 20em;
    border-radius: 57px;
    border-right: solid 4px rgba(255, 255, 255, 0.253);
    border-bottom: solid 4px  rgba(255, 255, 255, 0.267);
    backdrop-filter: blur(10px);
    box-shadow: 0 20px 40px rgba(233, 233, 233, 0.274);
}



.about-section{
    position: absolute;
    display: block;
    top: 100px;
    left: 10px;
    right: 0;
    height: 90px;
    width: 45%;
    color: antiquewhite;
    justify-content: left;
    align-items: right;
    text-align: left;
    font-family: "Inter", sans-serif;
}

.about-section .name h1{
    font-size: 2.5em;
    font-style: italic;
    padding-bottom: 30px;

}

.about-section .profile-desc{
    line-height: 20px;
    padding-bottom: 20px;
    font-size: 1.3em;
}

.about-section .profile-desc .about p{
    border: solid 1px antiquewhite;
    padding: 15px;
    border-radius: 15px;
}

.more .more-facts {
    position: absolute;
    color: antiquewhite;
    font-family: "Inter", sans-serif;
    top: 540px;
    left: 90px;
    padding-right: 100px;
    justify-content: left;
    text-align: left;
    padding-top: 0;
}

.more .more-facts h1{
    font-size: 2.5em;
    font-style: italic;
    padding-bottom: 10px;
    border-bottom: solid 1px white;
}


.info{
    position: absolute;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
    color: antiquewhite;
    font-family: "Inter", sans-serif;
    top: 610px;
    left: 90px;
    padding-right: 100px;
    justify-content: left;
    text-align: left;
    padding-top: 0;
}

 .info .food{
    font-size: 1.2em;
    letter-spacing: 2;
    line-height: 50px;
    border: solid 1px white;
    padding-top: 9px;
    padding: 10px;
    padding-bottom: 4px;
    border-radius: 15px;
}
 .info .food h4{
    font-style: italic;
    text-decoration: underline;
}

 .info .food ul li{
    list-style: none;
    padding-left: 15px;
    padding-right: 15px;
}

.hobbies{
    position: absolute;
    top: 620px;
    left: 560px;
    right: 50px;
    padding: 15px;
    font-size: 1.2em;
    letter-spacing: 2;
    line-height: 40px;
    border: solid 1px white;
    border-radius: 15px;
    font-family: "Inter", sans-serif;
    color: antiquewhite;
    
}

.hobbies h4{
    font-style: italic;
    text-decoration: underline;
}
.hobbies p{
    padding-left: 15px;
}

.info .hobbies h4{
    font-style: italic;
    text-decoration: underline;
}

.likes-dislikes{
    position: absolute;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 30px;
    color: antiquewhite;
    font-family: "Inter", sans-serif;
    top: 930px;
    left: 90px;
    right: 100px;
    padding-bottom: 50px;
    padding-right: 100px;
    justify-content: left;
    text-align: left;
    padding-top: 0;
}

.likes-dislikes .read{
    font-size: 1.2em;
    letter-spacing: 2;
    line-height: 40px;
    border: solid 1px white;
    padding: 10px;
    padding-bottom: 4px;
    border-radius: 15px;   
    

}

.likes-dislikes .read ul li{
    list-style: none;
    padding-left: 15px;
}

.likes-dislikes .read h4{
    font-style: italic;
    text-decoration: underline;
}

.likes-dislikes .read p{
    text-align: left;
    padding-left: 15px;
    padding-right: 15px;
}
