@media screen and (min-width: 00px) and (max-width: 860px){

    .icons{
        display: inline-flex;
    }

    #check:checked~.icons #menu-icon{
        display: none;
    }

    #check:checked~.icons #close-icon{
        display: block;
    }

    .icons #close-icon{
        display: none;
    }

    .topnavbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background-color: #121212;
        overflow: hidden;
        transition: .3s ease;
    }

    #check:checked~.topnavbar{
        height: 17.7rem;
    }

    .topnavbar a{
        display: block;
        font-size: 1.4rem;
        margin: 1.5rem 0;
        text-align: center;
    }

    .topnavbar a.active{
        color: rgba(250, 235, 215, 0.288);
        border: none;
    }

    .topnavbar a:hover{
        color: rgba(250, 235, 215, 0.288);
        border: none;
    }
}